.content-body{
	padding: 10px;
	margin: 10px;
	border:3px solid black;
}


// .my-class:nth-child(4){
// 	background: green;
//  }


// .my-class:first-child{
// 	background: green;
// }


// .my-class:last-child{
// 	background: green;
// }


// .my-class:nth-child(odd){
// 	background: green;
// }


// .my-class:nth-child(even){
// 	background: green;
// }


// .my-class:nth-last-child(3){
// 	background: green;
// }

// .my-class:nth-child(3n+2){
// 	background: green;
// }



// .my-class:nth-child(-n+5){
// 	background: green;
// }


// .my-class:nth-child(n+5):nth-child(-n+8){
// 	background: green;
// }

// .my-class:nth-child(5n+1){
// 	background: green;
// }

// .my-class:nth-child(5n+2){
// 	background: orange;
// }

// .my-class:nth-child(5n+3){
// 	background: skyblue;
// }

// .my-class:nth-child(5n+4){
// 	background: brown;
// }
// .my-class:nth-child(5n+5){
// 	background: gray;
// }

// .my-class:first-letter{
// 	color: red;
// }

// .my-class:first-line{
// 	color: red;
// }
.my-class:nth-child(5):first-line{
	color: red;
}


